# Archivos del sistema
desktop.ini
Thumbs.db

# Entornos
.env
.venv/
venv/
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# Datos
data/
*.csv
*.xlsx
*.parquet
*.feather
*.db
*.sqlite
*.duckdb


# Archivos de log
*.log

# Configuración de IDE
.vscode/
.idea/
