# Archivos del sistema
desktop.ini
Thumbs.db

# Entornos
.env
.venv/
venv/
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# Datos
data/
*.pkl
*.xlsx
*.feather
*.db
*.sqlite
*.duckdb

# Docs
docs/

# Archivos de log
*.log

# Configuración de IDE
.vscode/
.idea/
